<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<footer th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="footer-content">
                <p>&copy; <span id="currentYear"></span> AUTO BOARD. All Rights Reserved.</p>
                <nav class="footer-nav">
                    <ul class="footer-links">
                        <li><a th:href="@{/policy/term-of-use}">이용약관</a></li>
                        <li><a th:href="@{/policy/privacy-policy}">개인정보 처리방침</a></li>
                        <li><a th:href="@{/policy/consent-agreement}">개인정보 수집 및 이용 동의</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>
</footer>
</body>
</html>
