body {
    background-color: #000;
    color: #fff;
}

.footer {
    color: #6c757d;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

a:hover {
    color: white; /* 호버 시 텍스트 색상을 하얀색으로 설정 */
}

.card {
    background-color: #212529;
}

.btn-primary {
    border-color: #198754;
}

.navbar {
    background-color: #212529;
}

.table {
    color: #fff;
}

.table thead {
    background-color: #212529;
}

#spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 글쓰기 폼 스타일 */
.form-control {
    background-color: #495057;
    border-color: #6c757d;
    color: #f8f9fa;
}

.btn-dark {
    background-color: #6c757d;
    border-color: #6c757d;
}

/* 모바일 화면용 스타일 */
@media only screen and (max-width: 768px) {
    .list-group-item {
        display: block;
        background-color: #343a40;
        color: white;
        margin-bottom: 2px;
        padding: 5px;
    }

    .post-title {
        font-weight: bold;
        color: white;
        background-color: #343a40;
        padding: 5px 10px;
    }

    .post-details {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
        color: white;
        background-color: #343a40;
        padding: 5px 10px;
    }

    .author {
        text-align: left;
    }

    .stats {
        text-align: right;
    }

    .table-responsive {
        display: none;
    }
}

/* PC 화면용 스타일 */
@media only screen and (min-width: 769px) {
    .list-group {
        display: none;
    }

    .table-responsive {
        display: block;
    }
}

/* 글쓰기 페이지에 특화된 스타일 추가 */
.form-group label {
    color: #f8f9fa;
}

.form-group input[type="text"],
.form-group textarea {
    background-color: #495057; /* 입력 필드 배경색 */
    border-color: #6c757d; /* 테두리 색상 */
    color: #f8f9fa; /* 입력 텍스트 색상 */
}

.post-card {
    background-color: #212529;
    border-radius: 8px;
    overflow: hidden;
}

.post-card-header {
    padding: 16px 20px;
    background: #343a40;
    border-bottom: 1px solid #495057;
}


.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #adb5bd;
    margin-top: 10px;
}
.post-meta time {
    color: #ced4bd;
}

.post-content {
    padding: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #e9ecef;
}

/* 반응형 디자인 */
@media only screen and (max-width: 768px) {

    .post-title {
        font-size: 1.0rem; /* 모바일 화면에 맞게 제목 폰트 크기 조정 */
        padding: 5px 10px;
    }

    .post-meta {
        flex-direction: column; /* 메타 데이터를 세로로 배치 */
        align-items: flex-start;
        padding: 5px 10px;
        margin-top: 0;
    }

    .post-meta span,
    .post-meta time {
        margin-top: 5px; /* 메타 데이터 항목 간의 마진 추가 */
    }

    .post-author {
        display: block;
        margin-bottom: 0.25rem;
    }
}

.write-button {

}

.pagination-container {
    margin-top: 20px;
}

.pagination li a {
    color: #28a745; /* 텍스트 색상 */
}

.pagination li.active a {
    background-color: #d3d3d3; /* 활성 페이지 버튼 배경 색상 */
    border-color: #007bff;
}

.pagination li.active a:hover {
    color: white; /* 호버 시 텍스트 색상을 하얀색으로 설정 */
}

.pagination li a:hover {
    background-color: #5a5a64;
}

.page-item.active .page-link {
    background-color: #28a745;
    border-color: #28a745;
}

.post-title, .post-content {
    word-wrap: break-word; /* 긴 단어가 요소의 폭을 넘어가면 자동으로 줄바꿈 */
    overflow-wrap: break-word; /* 긴 단어를 줄바꿈 */
}

.post-content {
    white-space: pre-wrap; /* 공백과 줄바꿈을 유지하면서 필요에 따라 줄바꿈 */
}

.btn + .btn {
    margin-left: 10px;
}

.navbar .btn + .btn {
    margin-left: 0;
}

.mb-2 .btn + .btn {
    margin-left: 0;
}

.comment-count-span {
    color: #28a745;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #5F5F5F;
    opacity: 1;
}

.table thead th {
    text-align: center; /* 테이블 헤더의 텍스트를 가운데로 정렬 */
}

.table {
    table-layout: fixed; /* 테이블 레이아웃을 고정 */
    width: 100%; /* 테이블의 전체 너비를 부모 요소에 맞춤 */
}

.table th, .table td {
    overflow: hidden; /* 셀 내용이 넘쳐흐를 때 숨김 */
    text-overflow: ellipsis; /* 넘쳐흐르는 텍스트를 말줄임표(...)로 표시 */
    white-space: nowrap; /* 셀 내용을 한 줄로 표시 */
}

.table th:nth-child(1), .table td:nth-child(1) { width: 10%; } /* 번호 */
.table th:nth-child(2), .table td:nth-child(2) { width: 45%; } /* 제목 */
.table th:nth-child(3), .table td:nth-child(3) { width: 10%; } /* 작성자 */
.table th:nth-child(4), .table td:nth-child(4) { width: 15%; } /* 작성일 */
.table th:nth-child(5), .table td:nth-child(5) { width: 10%; } /* 조회수 */
.table th:nth-child(6), .table td:nth-child(6) { width: 10%; } /* 조회수 */

.td-center {
    text-align: center;
}

.login-btn {
    width: 100%;
}

.divider {
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.divider .line {
    width: 100%;
    height: 1px;
    background-color: #444;
}

.divider > p {
    padding: 0 10px;
    color: #888;
    font-size: 14px;
    flex: none;
    margin-top: initial;
    margin-bottom: initial;
}

.oauth-btn {
    width: 60px;
    margin-right: 10px;
}

.oauth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recaptcha-container {
    display: flex;
    justify-content: center
}

.image img {
    max-width: 100%;
    height: auto;
}


.post-card .vote-area {
    margin: 1rem 0 2rem;
    text-align: center;
    clear: both;
}
.post-card .vote-area .itemForm:first-child {
    margin-right: 5px;
}
.post-card .vote-area .itemForm {
    display: inline-block;
}
.post-card .vote-area .item:last-of-type {
    margin-right: 0;
}
.post-card .vote-area .item {
    display: inline-block;
    text-align: center;
    border: 1px solid;
    position: relative;
    border-color: var(--color-bd-outer);
    background-color: var(--color-bg-main);
    color: var(--color-text);
    border-radius: 5px;
    min-width: 4rem;
    padding: .5rem 1.3rem;
    position: relative;
}
small, .small {
    font-size: 80%;
    font-weight: 400;
}

