<!DOCTYPE html>
<html th:replace="~{fragments/base :: layout(~{::title},~{::content})}" xmlns:th="http://www.thymeleaf.org">
  <title>회원가입</title>
  <body>
    <div th:fragment="content">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card text-white">
              <div class="card-body">
                <h5 class="card-title">회원가입</h5>
                <div th:replace="~{fragments/terms-fragment :: termsContent}"></div>
                <form id="signupForm">
                  <div class="mb-3">
                    <label for="email" class="form-label">이메일:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="email" name="email" required>
                      <button type="button" class="btn btn-outline-secondary" onclick="checkEmail()">중복체크</button>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">패스워드:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">이름:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="mb-3"> <!-- 여기에 마진을 추가하기 위해 mb-3 클래스를 사용합니다. -->
                    <button type="submit" id="submitButton" class="btn btn-dark" disabled>회원가입</button>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6LeOTIEpAAAAAEEJ5-SuYX3k8LhJF7uyMrNOv2yP" data-theme="dark"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="/js/join.js"></script>
    </div>
  </body>
</html>