<!DOCTYPE html>
<html th:replace="~{fragments/base :: layout(~{::title},~{::content})}" xmlns:th="http://www.thymeleaf.org">
    <title>로그인</title>
    <body>
        <div th:fragment="content" class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card text-white">
                        <div class="card-body">
                            <h5 class="card-title">Login</h5>
                            <form id="loginForm">
                                <div class="mb-3">
                                    <div th:if="${message} != null">
                                        <p><span th:text="${message}"></span></p>
                                    </div>
                                    <label for="email" class="form-label">이메일:</label>
                                    <input type="text" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-dark">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/js/login.js"></script>
        </div>
    </body>
</html>
