<!DOCTYPE html>
<html th:replace="~{fragments/base :: layout(~{::title},~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta name="appleid-signin-client-id" content="[CLIENT_ID]">
    <meta name="appleid-signin-scope" content="[SCOPES]">
    <meta name="appleid-signin-redirect-uri" content="[REDIRECT_URI]">
    <meta name="appleid-signin-state" content="[STATE]">
</head>

    <body>
        <div th:fragment="content" class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card text-white">
                        <div class="card-body">
                            <h5 class="card-title">Login</h5>
                            <form id="loginForm" method="POST">
                                <div class="mb-3">
                                    <div th:if="${message} != null">
                                        <p><span th:text="${message}"></span></p>
                                    </div>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="이메일" required>
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="패스워드" required>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-dark login-btn">Login</button>
                                </div>
                                <div class="mb-3 recaptcha-container">
                                    <div class="g-recaptcha" data-sitekey="6LeOTIEpAAAAAEEJ5-SuYX3k8LhJF7uyMrNOv2yP" data-theme="dark">

                                    </div>
                                </div>
                            </form>
                            <div class="divider">
                                <div class="line"></div>
                                <p>SNS 로그인</p>
                                <div class="line"></div>
                            </div>
                            <div class="oauth-container">
                                <a th:href="@{https://nid.naver.com/oauth2.0/authorize(response_type='code', client_id=${naverClientId}, redirect_uri=${domain} + '/api/v1/oauth2/naver/callback', state=${state})}">
                                    <img class="oauth-btn" src="/images/naver_oauth.png" alt="Naver OAuth Login"/>
                                </a>
                                <a th:href="@{https://accounts.google.com/o/oauth2/v2/auth(scope='https://www.googleapis.com/auth/userinfo.email',access_type='offline', include_granted_scopes='true',  response_type='code', state=${state},  redirect_uri=${domain} + '/api/v1/oauth2/google/callback', client_id=${googleClientId})}">
                                    <img class="oauth-btn" src="/images/google_oauth.png" alt="Google OAuth Login"/>
                                </a>
                                <a th:href="@{https://accounts.google.com/o/oauth2/v2/auth(scope='https://www.googleapis.com/auth/userinfo.email',access_type='offline', include_granted_scopes='true',  response_type='code', state=${state},  redirect_uri=${domain} + '/api/v1/oauth2/google/callback', client_id=${googleClientId})}">
                                    <img class="oauth-btn" src="/images/kakao_oauth.png" alt="Kakao OAuth Login"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/js/login.js"></script>
        </div>
    </body>
</html>
