<!DOCTYPE html>
<html th:replace="~{fragments/base :: layout(~{::title},~{::content})}" xmlns:th="http://www.thymeleaf.org">
<title>게시글</title>
<body>
<div th:fragment="content">
  <script th:inline="javascript">
    /*<![CDATA[*/
    let postId = [[${postId}]];
    /*]]>*/
  </script>
  <div class="container mt-5">
    <article class="post-card">
      <header class="post-card-header">
        <span id="title" class="post-title"></span>
        <div class="user-info post-meta">
          <a href="#"><span id="user" class="post-user"></span></a>
        </div>
        <div class="post-meta">
          <div class="post-info">
            <span id="views" class="post-views"></span> |
            <time datetime="2024-01-23T04:22:56"></time>
          </div>
        </div>
      </header>
      <section id="content" class="post-content">
        <p></p>
      </section>
    </article>
    <div class="d-flex justify-content-end mt-3">
      <a th:href="@{/main}" id="list" class="btn btn-dark" type="button" >목록</a>
      <a th:href="@{/modify}" id="modify" class="btn btn-success" type="button" style="display: none;">수정</a>
      <a href="javascript:void(0);" onclick="deletePost();" id="delete" class="btn btn-danger" type="button"style="display: none;">삭제</a>
    </div>
  </div>
  <div class="container mt-5">
    <h3>댓글 <span id="comment-count"></span></h3>
    <div id="comments-list" class="mt-3"></div>

    <!-- 댓글 작성 폼 -->
    <div class="comment-form mt-4">
      <textarea id="comment-content" class="form-control" rows="3" placeholder="댓글을 입력하세요"></textarea>
      <button onclick="saveComment();" class="btn btn-primary mt-2">댓글 작성</button>
    </div>
    <div class="pagination-container d-flex justify-content-center mt-4">
      <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination">
        </ul>
      </nav>
    </div>
  </div>
  <script src="/js/comment.js"></script>
  <script src="/js/post.js"></script>
</div>
</body>
</html>
