<!DOCTYPE html>
<html th:replace="~{fragments/base :: layout(~{::title},~{::content})}" xmlns:th="http://www.thymeleaf.org">
<title>글쓰기</title>
    <body>
        <div th:fragment="content" class="container mt-5">
            <script th:inline="javascript">
                /*<![CDATA[*/
                let mode = [[${mode}]];
                const tempId = [[${tempId}]];
                /*]]>*/
            </script>
            <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
            <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${boardInfo.name}">글쓰기</h5>
                            <form action="#" th:action="@{/submit}" th:object="${post}" method="post">
                                <input type="hidden" id="tempId" name="tempId" th:value="${tempId}" />
                                <div class="form-group">
                                    <input type="text" class="form-control" id="title" name="title" placeholder="제목">
                                </div>
                                <div class="form-group">
                                    <textarea id="content"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="mb-1">
                                        <button type="submit" class="btn btn-dark">제출</button>
                                    </div>
                                    <div class="g-recaptcha" data-sitekey="6LeOTIEpAAAAAEEJ5-SuYX3k8LhJF7uyMrNOv2yP" data-theme="dark"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/js/write.js"></script>
            <script>
                let editorInstance;
                document.addEventListener('DOMContentLoaded', function() {
                    ClassicEditor
                        .create(document.querySelector('#content'), {
                            toolbar: {
                                items: [
                                    '|', 'heading',
                                    '|', 'bold', 'italic',
                                    '|', 'link', 'insertImage', 'insertTable', 'mediaEmbed',
                                    '|', 'bulletedList', 'numberedList', 'outdent', 'indent'
                                ]
                            },
                            ckfinder: {
                                uploadUrl : `/api/v1/file?tempId=${tempId}`
                            },
                            htmlSupport: {
                                allow: [
                                    {
                                        name: /.*/,
                                        attributes: true,
                                        classes: true,
                                        styles: true
                                    }
                                ],
                                disallow: [
                                    {
                                        name: 'img',
                                        attributes: {
                                            onerror: true,
                                            onload: true,
                                            onmouseover: true
                                        }
                                    }
                                ]
                            }
                        })
                        .then(editor => {
                            console.log('CKEditor initialized successfully');
                            editorInstance = editor;
                        })
                        .catch(error => {
                            console.error('Error initializing CKEditor:', error);
                        });
                });
            </script>
        </div>
    </body>
</html>